*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.slider {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.slider_container {
  max-width: 800px;
  display: flex;
  align-items: center;
  position: relative;
}

.slider_button {
  outline: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #41b883;
  color: #fff;
  border: none;
  position: absolute;
  transition: background-color 0.1s ease-in;
}

.slider_button:disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

.slider_button:hover {
  background-color: #478569;
}

.slider_button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid #fff;
  border-bottom: 0;
  border-right: 0;
  height: 20px;
  width: 20px;
}

.slider_button--prev {
  left: 0;
}

.slider_button--prev::before {
  transform: translate(100%, 75%) rotate(-45deg);
}

.slider_button--next {
  right: 0;
}

.slider_button--next::before {
  transform: translate(50%, 75%) rotate(135deg);
}

.slide_image {
  height: auto;
  max-width: 100%;
}

.slide_caption {
  width: 100%;
  text-align: center;
  font-size: 25px;
}
